.footer {
  align-self: flex-end;
  height: 10vh;
  position: relative;

  &--title {
    position: absolute;
    top: 30%;
    margin-left: 1rem;
    font-size: 1.6rem;
  }

  &--side {
    width: 99%;
    margin: auto;
  }
}